@import 'settings';

#aboutUs{
  position: relative;
  overflow: hidden;
  text-align: justify;

  .textWrapper{
      h1{
          width: 100%;
          margin: 0 auto;
          margin-bottom: 1.5rem;
          text-align: center;

      }
      h3{
          position: relative;
          width: 100%;
          margin: 0;
          font-size: 1.5rem;
          margin-bottom: 1.5rem;
          color: $dark-main-color;
          text-align: justify;
          font-family: 'Cormorant Garamond';
          font-weight: lighter;
      }

      .imageWrapperLine{
          position: relative;
          width: 100%;
          height: 80vw;
          margin: 2rem 0;

          &::before{
              @include before(7%, 100%, 0%, auto, auto, 0%, $main-color);
              z-index: -1;
              transform: scaleY(0);
              transform-origin: top;
              z-index: 1;
          }

          .oNasImg2{
              display: none;
          }

          .oNasImg1{
              position: absolute;
              height: auto;
              width: 100%;
              bottom: 0;
              right: 0;
              z-index: 2;
          }
      }

      &.showOnScroll ::before{
          transform: scaleY(1);
          transition: 1s;
          transition-delay: .5s;
      }
  }
}

@media (width > 992px) {
  #aboutUs{
    .heading{
        margin-bottom: 0px;
    }

    &::before{
        background-size: auto 100%;
        background-position: bottom 0 right 0%;
    }

    .textWrapper{
        // width: 80%;
        color: white;
        text-shadow: 1px 1px 2px rgba(56, 56, 56, 0.671);



        &::before{
            background-size: auto 130%;
            background-position: right 0% bottom 30%;
        }

        h1{
            grid-area: text1;
            color: white;
            width: 50%;
            margin-left: 0;
            z-index: 2;
            font-size: 2rem;
        }
        h3{
            font-size: 1.8rem;
        }

        p{
            width: 50%;
            z-index: 2;
        }

        .imageWrapperLine{

            .oNasImg1{
                left: auto;
                right: -50px;
            }
        }

        .imageWrapperLine{
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            margin: 0;
            overflow: hidden;
            z-index: 1;

            &::before{
                @include before(3%, 100%, 5%, auto, auto, 3%, white);
                box-shadow: 4px 4px 2px rgb(105, 105, 105);
                z-index: 10;
            }

            &::after{
                @include before(100%, 100%, 0%, auto, auto, 0%, null);
                background-image: linear-gradient(90deg, $main-color 40%, #5e7d8000 70%);
                z-index: -3;
            }

            .oNasImg1{
                display: block;
                position: absolute;
                width: auto;
                height: 80%;
                bottom: -5%;
                left: auto;
                right: -100px;
                margin: 0;
                z-index: -2;
                opacity: 0;
                transform: translateX(10%);
                transition: .7s;
                transition-delay: .5s;

                &.showOnScroll{
                    opacity: 1;
                    transform: translateX(0);
                }
            }
        }
    }
  }
}

