@import 'settings';

header{
  position: relative;
  width: 100vw;
  height: 100vh;
  @include center;
  flex-flow: column nowrap;
  background-image: url(../../../../images/warsaw_2e.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right 20% top 0%;
  background-attachment: fixed;
  overflow: hidden;

  &::before{
      @include before(100vw, 65vh, auto, 0, 0, auto, null);
      z-index: 1;
  }

  .logoMark{
    position: absolute;
    width: 150px;
    max-width: 35%;
    bottom: 27%;
    z-index: 2;
    opacity: 0;

    animation: scaleDownFadeIn;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
  }

  .mainLogoText{
      position: absolute;
      width: 80%;
      margin: 0 auto;
      bottom: 20%;
      opacity: 0;

      z-index: 3;
      filter: drop-shadow(0px 0px 10px rgb(50, 50, 50));

      animation: fadeIn;
      animation-duration: 1s;
      animation-delay: 2s;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
  }

  .imgWrapper{
    position: absolute;
    width: 80%;
    height: 400px;
    left: 0;
    bottom: 10%;
    overflow: hidden;
    background-color: #fff;
  }

  .showDesktop{
    display: none;
  }
}

@media (width > 576px) {
  header{
    .logoMark{
      bottom: 35%;
    }
  }
}

@media (width > 992px) {
  header{
    .logoMark{
      bottom: 35%;
    }

    .mainLogoText{
      bottom: 15%;
    }

    .showDesktop{
      display: block;
    }

    .showMobile{
      display: none;
    }
  }
}

@media only screen and (orientation: landscape) {
  header{
    .logoMark{
      height: 30vh;
      bottom: 35%;
    }
    .mainLogoText{
      // height: 18vh;
    }
  }

}
